<table class="table" id="truck_fig">
    
    <% rotation_count = @truck.adhocTruckRts.count %>
    <% @tirelist =  get_adhoctire_data(@truck, rotation_count) %>
    <tbody>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" class="tb-top tb-left tb-right">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4" class="tb-left tb-right">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="tb-top tb-left tb-right center">A</td>
        <td colspan="2">&nbsp;</td>
        <td class="tb-top tb-left tb-right center">B</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td class="tb-left tb-right"><%= not_nill(@tirelist,"tire1sn") %></td>
        <td colspan="2">&nbsp;</td>
        <td class="tb-left tb-right"><%= not_nill(@tirelist,"tire2sn") %></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="tb-left tb-right"></td>
        <td colspan="2">&nbsp;</td>
        <td class="tb-left tb-right"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="tb-top">&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td class="tb-top">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="tb-top tb-left tb-right center">C</td>
        <td class="tb-top tb-left tb-right center">D</td>
        <td colspan="2" class="tb-top center">Spare</td>
        <td class="tb-top tb-left tb-right center">E</td>
        <td class="tb-top tb-left tb-right center">F</td>
    </tr>
    <tr>
        <td class="tb-left tb-right"><%= not_nill(@tirelist,"tire3sn") %></td>
        <td class="tb-left tb-right"><%= not_nill(@tirelist,"tire4sn") %></td>
        <td colspan="2"><%= not_nill(@tirelist,"tire7sn") %></td>
        <td class="tb-left tb-right"><%= not_nill(@tirelist,"tire5sn") %></td>
        <td class="tb-left tb-right"><%= not_nill(@tirelist,"tire6sn") %></td>
    </tr>
    <tr>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td colspan="2" class="tb-bottom">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
    </tr>
    </tbody>
</table>