<%= link_to "Back to Karte", karte_path(@truck), class:"btn btn-danger" %>

<%= render "adhoc_truck_rts/modal", truck: @truck %>
<%# rot_ar = makearray_tire(@truck, @hist_ar)%>
<div class="row" id="rotation">
  <h2>Tire Rotation B</h2>

  <div class="logiccs_table">
   <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr><th>Company Name</th><th>Branch</th><th>Vehicle ID</th><th>Vehicle No.</th><th>Maker</th><th>Wheels</th><th>Engine</th><th>Type</th><th>Model</th>
        <th>Date of purchace</th><th>Year</th><th>Current Km</th><th>km Next Maintenance</th>
      </thead>      
      <tbody>
          <tr><td><%= @truck.company.name_e %></td><td><%= @truck.branch.name %></td><td><%= @truck.vehicleid %></td>
          <td><%= @truck.number %></td><td><%= @truck.maker %></td><td><%= @truck.wheels %></td>
          <td><%= @truck.engine %></td><td><%= @truck.body %></td><td><%= @truck.model %></td>
          <td><%= @truck.purchase %></td>
          <td><% dates = distance_of_time_in_words_hash(Time.now, @truck.purchase) %><%= dates[:years].to_s+"Years "+dates[:months].to_s+"Month" %></td><td><%= @truck.last_mileage %></td><td><%= @truck.next_mileage %></td>
      </tbody>
    </table>        
  </div>  
  <div class="adhocrotations col-xs-8">
    <ul class="text-center">
      <li>Operation</li>
      <li>A<br>depthside<br>depthMid<br>purchase</li>
      <li>B<br>depthside<br>depthMid<br>purchase</li>
      <li>C<br>depthside<br>depthMid<br>purchase</li>
      <li>D<br>depthside<br>depthMid<br>purchase</li>
      <li>E<br>depthside<br>depthMid<br>purchase</li>
      <% if @truck.wheels >= 6 %>
        <li>F<br>depthside<br>depthMid<br>purchase</li>
        <li>G<br>depthside<br>depthMid<br>purchase</li>
      <% end %>
      <% if @truck.wheels >= 10 %>
        <li>H<br>depthside<br>depthMid<br>purchase</li>
        <li>I<br>depthside<br>depthMid<br>purchase</li>
        <li>J<br>depthside<br>depthMid<br>purchase</li>
        <li>K<br>depthside<br>depthMid<br>purchase</li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 1) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 1) %>
     <li><%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire1depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire2depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire3depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire4depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire5depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <% if @truck.wheels >= 6 %>
      <li><%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire6depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire7depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <% end %>
      <% if @truck.wheels >= 10 %>
      <li><%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire8depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire9depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire10depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire11depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 2) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 2) %>
      <% prevtirelist = get_adhoctire_data(@truck, 1) %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire1sn") ? "bgwhite": "bgpink" %>
     <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire1depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire2sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire2depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire3sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire3depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire4sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire4depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire5sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire5depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <% if @truck.wheels >= 6 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire6sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire6depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire7sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire7depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <% end %>
      <% if @truck.wheels >= 10 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire8sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire8depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire9sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire9depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire10sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire10depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire11sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire11depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 3) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 3) %>
      <% prevtirelist = get_adhoctire_data(@truck, 2) %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire1sn") ? "bgwhite": "bgpink" %>
     <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire1depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire2sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire2depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire3sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire3depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire4sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire4depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire5sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire5depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <% if @truck.wheels >= 6 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire6sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire6depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire7sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire7depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <% end %>
      <% if @truck.wheels >= 10 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire8sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire8depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire9sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire9depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire10sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire10depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire11sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire11depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 4) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 4) %>
      <% prevtirelist = get_adhoctire_data(@truck, 3) %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire1sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire1depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire2sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire2depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire3sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire3depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire4sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire4depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire5sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire5depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <% if @truck.wheels >= 6 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire6sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire6depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire7sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire7depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <% end %>
      <% if @truck.wheels >= 10 %>

      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire8sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire8depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire9sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire9depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire10sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire10depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire11sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire11depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
      <% end %>
    </ul> 
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 5) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 5) %>
      <% prevtirelist = get_adhoctire_data(@truck, 4) %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire1sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire1depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire2sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire2depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire3sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire3depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire4sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire4depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire5sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire5depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <% if @truck.wheels >= 6 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire6sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire6depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire7sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire7depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <% end %>
      <% if @truck.wheels >= 10 %>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire8sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire8depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire9sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire9depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire10sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire10depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <% displayclass = check_replaced(prevtirelist, @tirelist, "tire11sn") ? "bgwhite": "bgpink" %>
      <li class="<%= displayclass %>">
          <%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depthside") %>mm<br>
          <%= not_nill(@tirelist,"tire11depthmiddle") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
      <% end %>
    </ul>
    
  </div>
  
  <div class="col-xs-4">
    
    <% if @truck.wheels == 10 %>
       <%= render 'truckfig10' %>
    <% elsif @truck.wheels == 6 %>
       <%= render 'truckfig6' %>
    <% elsif @truck.wheels == 4 %>
       <%= render 'truckfig4' %>
    <% end %>
    
    
    
  </div>


</div>