<%= link_to "Back to Karte", karte_path(@truck), class:"btn btn-danger" %>

<%= render "adhoc_truck_rts/modal", truck: @truck %>
<%# rot_ar = makearray_tire(@truck, @hist_ar)%>
<div class="row" id="rotation">
　    　<h2>タイヤローテーション表</h2>
　    　
　    　
  <div class="adhocrotations">
    <ul class="text-center">
      <li>Operation</li>
      <li>A<br>depth<br>purchase</li>
      <li>B<br>depth<br>purchase</li>
      <li>C<br>depth<br>purchase</li>
      <li>D<br>depth<br>purchase</li>
      <li>E<br>depth<br>purchase</li>
      <li>F<br>depth<br>purchase</li>
      <li>G<br>depth<br>purchase</li>
      <li>H<br>depth<br>purchase</li>
      <li>I<br>depth<br>purchase</li>
      <li>J<br>depth<br>purchase</li>
      <li>K<br>depth<br>purchase</li>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 1) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 1) %>
     <li><%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depth") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depth") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depth") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depth") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depth") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depth") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depth") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depth") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depth") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depth") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depth") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 2) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 2) %>
     <li><%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depth") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depth") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depth") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depth") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depth") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depth") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depth") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depth") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depth") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depth") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depth") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 3) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 3) %>
     <li><%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depth") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depth") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depth") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depth") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depth") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depth") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depth") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depth") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depth") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depth") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depth") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
    </ul>
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 4) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 4) %>
     <li><%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depth") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depth") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depth") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depth") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depth") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depth") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depth") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depth") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depth") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depth") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depth") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
    </ul> 
    
    <ul>
      <li><%= adhoc_lasttire(@truck, 5) %></li>
      <% @tirelist =  get_adhoctire_data(@truck, 5) %>
     <li><%= not_nill(@tirelist,"tire1sn") %><br>
          <%= not_nill(@tirelist,"tire1depth") %>mm<br>
          <%= not_nill(@tirelist,"tire1purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire2sn") %><br>
          <%= not_nill(@tirelist,"tire2depth") %>mm<br>
          <%= not_nill(@tirelist,"tire2purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire3sn") %><br>
          <%= not_nill(@tirelist,"tire3depth") %>mm<br>
          <%= not_nill(@tirelist,"tire3purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire4sn") %><br>
          <%= not_nill(@tirelist,"tire4depth") %>mm<br>
          <%= not_nill(@tirelist,"tire4purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire5sn") %><br>
          <%= not_nill(@tirelist,"tire5depth") %>mm<br>
          <%= not_nill(@tirelist,"tire5purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire6sn") %><br>
          <%= not_nill(@tirelist,"tire6depth") %>mm<br>
          <%= not_nill(@tirelist,"tire6purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire7sn") %><br>
          <%= not_nill(@tirelist,"tire7depth") %>mm<br>
          <%= not_nill(@tirelist,"tire7purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire8sn") %><br>
          <%= not_nill(@tirelist,"tire8depth") %>mm<br>
          <%= not_nill(@tirelist,"tire8purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire9sn") %><br>
          <%= not_nill(@tirelist,"tire9depth") %>mm<br>
          <%= not_nill(@tirelist,"tire9purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire10sn") %><br>
          <%= not_nill(@tirelist,"tire10depth") %>mm<br>
          <%= not_nill(@tirelist,"tire10purchase") %>
      </li>
      <li><%= not_nill(@tirelist,"tire11sn") %><br>
          <%= not_nill(@tirelist,"tire11depth") %>mm<br>
          <%= not_nill(@tirelist,"tire11purchase") %>
      </li>
    </ul>
    
  </div>


</div>