
<div class="col-xs-4 white">
    <ul>
        <li> <%= dcurrent_user.dealercompany.name %></li>
        <li>  <%= dcurrent_user.name %></li>
    </ul>
</div>

<div class="col-xs-8 white">
    
  <table class="table logitable">
     <tr>
         <th>-</th>
         <th>Client Company</th>
         <th>branch</th>
         <th>VehicleNo</th>
         <th>No Plate</th>
         
     </tr>
    <% @logithreads.each do |thread| %>
      <tr>
        <td><%= link_to thread.id, logiposts_path(thread) %></td>
        <td><%= thread.truck.company.name_e %></td>
        <td><%= thread.truck.branch.name %></td>
        <td><%= thread.truck.vehicleid %></td>
        <td><%= thread.truck.number %></td>
      </tr>
    <% end %>
    
    </table>

</div>