<table class="table table-responsive logiccs_table">
<% @trucks.each do |truck| %>
   <tr>
       <td><%= truck.company.name_e if truck.company %></td>
       <td><%= truck.branch.name if truck.branch %></td>
       <td><%= truck.number %></td>
       <td><%= truck.vehicleid %></td>
       <td><%= truck.maker %></td>
       <td><%= truck.model %></td>
       <td><%= link_to "Edit", edit_truck_path(truck), class:"btn btn-xs btn-primary" %></td>
       <td><%= link_to "Delete", truck,  class:"btn btn-xs btn-danger", method: :delete, data: { confirm: "You sure?" } %></td>
       <td><%= link_to "Adjust", adjust_truck_path(truck), class:"btn btn-xs btn-success" %></td>
       <td><%= link_to "Adj. Mileage", adjustmileage_truck_path(truck), class:"btn btn-xs btn-warning" %></td>
   </tr>

<% end %>
</table>