
<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New Company", new_company_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "Regist New Branch", new_branch_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "list Company", companies_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "list branches", branches_path , class: 'btn btn-danger width100' %>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New User", new_user_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List Users", users_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">&nbsp;&nbsp;</div>
    <div class="col-sm-3">&nbsp;</div>   
</div>
<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New Truck", new_truck_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List Truck", trucks_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-3">&nbsp;</div> 
</div>

<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New Partscost", new_partscost_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List Partscost", partscosts_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-3">&nbsp;</div> 
</div>

<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New Laborcost", new_laborcost_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List Laborcost", laborcosts_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-3">&nbsp;</div> 
</div>


<div class="col-xs-12 white text-center"> <hr><h4> Dealer information</h4><hr></div>


<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New Dealer Company", new_dealercompany_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List Dealercompany", dealercompanies_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "Regist New Dealer Branch", new_dealerbranch_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List New Dealer Branch", dealerbranches_path , class: 'btn btn-danger width100' %>
    </div> 
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        <%= link_to "New DealerUser", new_dealeruser_path, class: "btn btn-danger width100" %>
    </div>
   <div class="col-sm-3">
        <%= link_to "List DealerUser", dealerusers_path, class: "btn btn-danger width100" %>
    </div>
     
    
</div>
<hr>

<div class="row">
    
    <div class="col-sm-3">
        <%= link_to "New Approver", new_approver_path, class: "btn btn-danger width100" %>
    </div>

    <div class="col-sm-3">
        <%= link_to "List Approver", approvers_path, class: "btn btn-danger width100" %>
    </div>
    
    
</div>



</div>