<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h6>User's Profile</h6>
        </div>
        <div class="panel-body">
          <div class="col-md-2">
              <span class="label label-danger width100">Company name</span>
          </div>
          <div class="col-md-10">
              <%= @user.company.name_e %>
          </div>
          <div class="col-md-2">
              <span class="label label-danger width100">Branch name</span>
          </div>
          <div class="col-md-10">
              <%= @user.branch.name %>
          </div>
          <div class="col-md-2">
              <span class="label label-danger width100">User name</span>
          </div>
          <div class="col-md-10">
              <%= @user.name %>
          </div>
          <div class="col-md-2">
              <span class="label label-danger width100">Email Address</span>
          </div>
          <div class="col-md-10">
              <%= @user.email %>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <%= link_to "User Profile Edit", edit_user_path(@user), class:"btn btn-primary btn-xs width100" %>
          </div>
        </div>
    </div>
    
    
    <div class="panel panel-danger">
        <div class="panel-heading">
          Track list under my-control
        </div>
        <div class="panel-body">
          <%= render "usertrucklist", trucks: @mytrucks %>
        </div>
    </div>
    
    <div class="panel panel-warning">
        <div class="panel-heading" role="warning">
          Track list not under control
        </div>
        <div class="panel-body" role="warning">
          <%= render "usertrucklist", trucks: @othertrucks %>

        </div>
    </div>


    <hr>    
    <div class="panel panel-danger">
        <div class="panel-heading">
          Trailer list under my-control
        </div>
        <div class="panel-body">
          <%= render "usertrailerlist", trailers: @mytrailers %>
        </div>
    </div>


   <div class="panel panel-danger">
        <div class="panel-heading">
          Trailer not list under my-control
        </div>
        <div class="panel-body">
          <%= render "usertrailerlist", trailers: @othertrailers %>
        </div>
    </div>
    
</div>

