<%= form_for(@cost) do |f| %>
<!--   1段目　-->
<div class="row">
 <div class="col-md-3">
      <%= f.label :company, class:"label label-danger width100" %>
      <%= f.collection_select(:company_id, @companies, :id, :name_e,  
            {:include_blank => "Please Select"},
            {:onchange => "update_branchFortruck(this.value, 'truck')"} ) %>
 </div>
 <div class="col-md-3">
    <%= f.label :model, class:'label label-danger width100' %>
    <%= f.text_field :model, class:'form-control' %>
 </div>
 <div class="col-md-3">
    <%= f.label :category, class:'label label-danger width100' %>
    <%= f.text_field :category, class:'form-control' %>
 </div>
</div>
<!--   2段目　-->
<div class="row">
  <div class="col-md-3">
    <%= f.label :oil_filter, class:'label label-danger width100 ' %>
    <%= f.number_field :oil_filter, class:'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :fuel_filter, class:'label label-danger width100 ' %>
    <%= f.number_field :fuel_filter, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :ps_oil, class:'label label-danger width100 ' %>
    <%= f.number_field :ps_oil, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :tm_oil, 'Transmission Oil', class:'label label-danger width100 ' %>
    <%= f.number_field :ps_oil, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :df_oil, class:'label label-danger width100 ' %>
    <%= f.number_field :df_oil, class:'form-control' %>      
  </div>

  <div class="col-md-3">
    <%= f.label :air_filter, class:'label label-danger width100 ' %>
    <%= f.number_field :air_filter, class:'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :air_drier, class:'label label-danger width100 ' %>
    <%= f.number_field :air_drier, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :break_oil, class:'label label-danger width100 ' %>
    <%= f.number_field :break_oil, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :clutch_oil, class:'label label-danger width100 ' %>
    <%= f.number_field :clutch_oil, class:'form-control' %>      
  </div>


  <div class="col-md-3">
    <%= f.label :coolant, class:'label label-danger width100 ' %>
    <%= f.number_field :coolant, class:'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :grease, "Grease Up", class:'label label-danger width100 ' %>
    <%= f.number_field :grease, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :cng_filter, class:'label label-danger width100 ' %>
    <%= f.number_field :cng_filter, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :spark_plug, class:'label label-danger width100 ' %>
    <%= f.number_field :spark_plug, class:'form-control' %>      
  </div>

  <div class="col-md-3">
    <%= f.label :clutch_kit, "Clutch & Booster kit", class:'label label-danger width100 ' %>
    <%= f.number_field :clutch_kit, class:'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :battery, class:'label label-danger width100 ' %>
    <%= f.number_field :battery, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :filter_ps_oil, class:'label label-danger width100 ' %>
    <%= f.number_field :filter_ps_oil, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :timing_belt_eg, "Timing Belt Engine", class:'label label-danger width100 ' %>
    <%= f.number_field :timing_belt_eg, class:'form-control' %>      
  </div>
  <div class="col-md-3">
    <%= f.label :timing_belt_ac, "Timing Belt Aircon", class:'label label-danger width100 ' %>
    <%= f.number_field :timing_belt_ac, class:'form-control' %>      
  </div>

  <div class="col-md-3">   
   <%= f.label :filter_axle, class:'label label-danger width100 ' %>
   <%= f. number_field :filter_axle, class:'form-control' %> 
  </div>   
  <div class="col-md-3">
   <%= f.label :soft_washer, class:'label label-danger width100' %>
   <%= f.number_field :softwasher, class:'form-control' %>
  </div>   
  <div class="col-md-3">
   <%= f.label :gasket_front_wheel, class:'label label-danger width100' %>
   <%= f.number_field :gasket_front_wheel, class:'form-control' %>
  </div> 
  <div class="col-md-3">
   <%= f.label :gasket_rear_wheel, class:'label label-danger width100' %>
   <%= f.number_field :gasket_rear_wheel, class:'form-control' %>
  </div> 

  <div class="col-md-3">
    <%= f.label :seal_oil_front_wheel,class:'label label-danger width100' %>
    <%= f.number_field :seal_oil_front_wheel,class:'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :seal_oil_rear_wheel,class:'label label-danger width100' %>
    <%= f.number_field :seal_oil_rear_wheel,class:'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :wheel_grease, "Wheel(HUB) Grease", class:'label label-danger width100' %>
    <%= f.number_field :wheel_grease, class:'form-control' %>
  </div>  
</div>

<%= f.submit "登録" %>
<% end %>
