<table class="table table-responsive" id="truck_fig">
    <tbody>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2" class="tb-bottom">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="tb-top tb-left tb-right">A</td>
        <td class="tb-top tb-left tb-right">B</td>
        <td colspan="2">&nbsp;</td>
        <td class="tb-top tb-left tb-right">C</td>
        <td class="tb-top tb-left tb-right">D</td>
    </tr>
    <tr>
        <td class="tb-left tb-right"><%= rot_ar[0] %></td>
        <td class="tb-left tb-right"><%= rot_ar[1] %></td>
        <td colspan="2">&nbsp;</td>
        <td class="tb-left tb-right"><%= rot_ar[2] %></td>
        <td class="tb-left tb-right"><%= rot_ar[3] %></td>
    </tr>
    <tr>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="2" class="tb-left tb-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
   <tr>
        <td class="tb-top tb-left tb-right">E</td>
        <td class="tb-top tb-left tb-right">F</td>
        <td colspan="2" class="tb-top">I</td>
        <td class="tb-top tb-left tb-right">G</td>
        <td class="tb-top tb-left tb-right">H</td>
    </tr>
    <tr>
        <td class="tb-left tb-right"><%= rot_ar[4] %></td>
        <td class="tb-left tb-right"><%= rot_ar[5] %></td>
        <td colspan="2"><%= rot_ar[8] %></td>
        <td class="tb-left tb-right"><%= rot_ar[6] %></td>
        <td class="tb-left tb-right"><%= rot_ar[7] %></td>
    </tr>
    <tr>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td colspan="2" class="tb-bottom">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
        <td class="tb-bottom tb-left tb-right">&nbsp;</td>
    </tr>
    </tbody>
</table>