

<table class="logitable table table-striped table-bordered white">
    
    <thead>
        <td>Company</td>
        <td>Branch</td>
        <td>Wheel</td>
        <td>VehicleId</td>
        <td>number</td>
        <td>Oparation</td>
    </thead>
    <tbody>
        <% @trailers.each do |trailer| %>
            <tr>
                <td><%= trailer.company.name_e %></td>
                <td><%= trailer.branch.name %></td>
                <td><%= trailer.wheels %></td>
                <td><%= trailer.vehicleid %></td>
                <td><%= trailer.number %></td>
                <td>
                    <%= link_to "Edit", edit_trailer_path(trailer) , class:"btn btn-success btn-xs" %>
                
                    <%= link_to "Delete", trailer_path(trailer), method:'delete', class:"btn btn-danger btn-xs", data: { confirm: "You sure?" } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>