<%= form_for(loginote) do |f| %>
  <%= render 'shared/error_messages', objects: f.object %>
  <%= f.hidden_field :truck_id, value: truck.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new Loginote..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-danger" %>
<% end %>