<h2>作業費用一覧</h2>
<%= link_to "新規追加", new_laborcost_path, class:'btn btn-success' %>
<table class="table table-responsive logiccs_table table-bordered">
    <thead>
        <tr>
            <th>Company</th>
            <th>model</th>
            <th>Category</th>
            <th>Operate</th>
        </tr>
    </thead>
    <tbody>
        <% @costs.each do |cost| %>
        <tr>
            <td><%= cost.company.name_e if cost.company %></td>
            <td><%= cost.model %></td>
            <td><%= cost.category %></td>
            <td>
                <%= link_to "edit", edit_laborcost_path(cost), class:'btn btn-xs btn-success' %>
                |
                <%= link_to "delete", cost, method: :delete, data: { confirm: "You sure?" }, class:'btn btn-xs btn-success' %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>