<h1 class="white">Logiposts#index</h1>

<div class="row">
    <div class="col-xs-4">
        
        <%= form_for(@post) do |f| %>
          <%= render 'shared/error_messages', objects: f.object %>
            <%= f.label :content, "COMMENT", class: "control-label white" %>
            <%= f.text_area :content, class:"form-control", rows:5 %>
           
            <%= f.label :date, "Date to be negociated", class:"control-label white" %>
            <div class="input-group">
                <%= f.text_field :date, class:"form-control date" %>
               <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
           <%= f.submit "Send", class:"btn btn-primary" %>
        
        <% end %>
        
    </div>
    
    <div class="col-xs-8 white">
        
     <% if dcurrent_user != nil %>
        <div class="col-xs-12">
        <%= link_to "Back to top index", dcurrent_user, class:"btn btn-xs btn-danger pull-right" %>
        </div>
     <% end %>
        
        <ul class="white no-disc-style">
            
            <% @posts.each do | post | %>
                     <% if post.dealeruser_id != nil %>
                         <% divclass="post-left" %>
                     <% else %>
                          <% divclass="post-right" %>
                     <% end %>
                   <li class="<%= divclass %>">
                       Message: <%= post.content %><br>
                       Negociated Date <%= post.date.strftime("%Y/%m/%d %H:%M") %> 
                    <br>: Post at <%= post.created_at.in_time_zone("Asia/Bangkok").strftime("%Y/%m/%d %H:%M") %>
                    </li>
                    <li><%= link_to  logipost_path(post), method:"delete" do %>
                        <div class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></div>
                        <% end %>
                    </li>
            <% end %>


            <% if !@thread.has_confirmed? %>
                <div class="pull-right">
                    
                    <%= link_to "OK it was confirmed!!", confirm_path(@thread), class:"btn btn-success " %>
                </div>
            <% else %>
                 <span class="btn btn-warning">This thread had been completed!!</span>
            <% end %>
        </ul>
        
    </div>

</div>

