<% partscost = Partscost.find_by(model: @truck.model, company_id: @truck.company_id) %>
<% laborcost = Laborcost.find_by(model: @truck.model, company_id: @truck.company_id) %>
<% if laborcost == nil || partscost == nil %>
   <h2>Partscost or Laborcost for <%= @truck.company.name_e %> <%= @truck.model %> not registered</h2>
<% else %>
<div class="logiccs_table">
<div class="table-responsive">  
       
 <h2>Vehicle Karte</h2>
 
   <%= link_to "Request Approval", list_path, class:"btn btn-danger" %>
   <%= link_to "Approval", list_path, class:"btn btn-danger" %>
   <%= link_to "Booking Maintenacne", list_path, class:"btn btn-danger" %>
   <%= link_to "Dealer Answer", list_path, class:"btn btn-danger" %>
   <%= link_to "Maintenance Calender", list_path, class:"btn btn-danger" %>
  
  <%= link_to "PDF sample", karte_pdf_path(@truck.id), class:"btn btn-info" %>
   <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr><th>Company Name</th><th>Branch</th><th>Vehicle ID</th><th>Vehicle No.</th><th>Maker</th><th>Wheels</th><th>Engine</th><th>Type</th><th>Model</th>
      <th>Date of purchace</th><th>Year</th><th>Current Km</th><th>km Next Maintenance</th>
    </thead>      
    
    <tbody>
        <tr><td><%= @truck.company.name_e %></td><td><%= @truck.branch.name %></td><td><%= @truck.vehicleid %></td>
        <td><%= @truck.number %></td><td><%= @truck.maker %></td><td><%= @truck.wheels %></td>
        <td><%= @truck.engine %></td><td><%= @truck.body %></td><td><%= @truck.model %></td>
        <td><%= @truck.purchase %></td>
        <td><% dates = distance_of_time_in_words_hash(Time.now, @truck.purchase) %><%= dates[:years].to_s+"Years "+dates[:months].to_s+"Month" %></td><td><%= @truck.last_mileage %></td><td><%= @truck.next_mileage %></td>
    </tbody>
    </table>
    
    <div class="row">
        <div class="col-xs-6">
         <%= image_tag 'hinotruck.jpg', :size => '570x380' %>
        </div>
        <div class="col-xs-6" style="background:white; color:black">
          <div class="notebox">
           <ul>
            <%if @loginotes.any? %>
              <%= render @loginotes %>
            <% end %>
            </ul>
          </div>
        <%= render 'loginotes/form', loginote: @loginote, truck: @truck %>
        </div>
    </div>
    <div class="kartetable col-xs-12">
     <% @nextcosts = Partscost.where(company_id: @truck.company_id, model: @truck.model).first %>
     <% cost = @nextcosts.pickupcost(@truck.last_mileage - @truck.initmileage) %>
     <% array = ["air_filter", "air_drier", "brake_oil", "clutch_oil",
       "coolant", "grease", "cng_filter", "spark_plug", "clutch_kit", 
       "battery", "filter_ps_oil", "timing_belt_eg", "timing_belt_ac",
       "filter_axle", "softwasher", "gasket_front_wheel", "gasket_rear_wheel",
       "seal_oil_front_wheel", "wheel_grease"] %>
     <% total = 0 %>
     <% oil_price = @truck.e_oil * Oilprice.first.price %>
     <% total += oil_price %>
     <% temp = 0 %>
     <% array.each do |e| %>
        <% eval("temp = cost.#{e} if cost.#{e} != '' && cost.#{e} != nil") ; total += temp %>
     <% end %>     
     <% partstotal = total %>
      <table class="table table-striped table-bordered table-hover"
        _fixedhead='rows:1; cols:1; bgcolor:darkred;'>
          <thead>
           <tr><th>Maintenance Interval</th><th>Cost Items</th><th>Engine Oil</th><th>Oil Filter</th><th>Fuel FIlter</th><th>ps_oil</th>
           <th>Tm_oil</th><th>Df_oil<th>Air_Filter</th><th>Air_Drier</th><th>break_oil</th><th>clutch_oil</th>
           <th>coolant</th><th>grease</th><th>cng_filter</th><th>spark_plug</th><th>clutch_kit</th><th>battery</th><th>filter_ps_oil</th>
           <th>timing_belt_eg</th><th>timing_belt_ac</th><th>filter_axle</th><th>softwasher</th><th>gasket_front_wheel</th>
           <th>gasket_rear_wheel</th><th>seal_oil_front_wheel</th><th>:wheel_grease</th><th>Total Parts/Total Lobor</th>
           <th>Other Costs</th><th>Grand Total</th>
          </thead> 
        <tbody>     
        <tr>
         <td rowspan="2">40,000km</td>
         <td>Parts Costs</td>
         <td><%= oil_price %></td>
         <td><%= cost.oil_filter %></td>
         <td><%= cost.fuel_filter %></td>
         <td><%= cost.ps_oil %></td>
         <td><%= cost.tm_oil %></td>
         <td><%= cost.df_oil %></td>
         <td><%#= cost.air_filter %></td>
         <td><%= cost.air_drier %></td>
         <td><%= cost.brake_oil %></td>
         <td><%= cost.clutch_oil %></td>
         <td><%= cost.coolant %></td>
         <td><%= cost.grease %></td>
         <td><%= cost.cng_filter %></td>
         <td><%= cost.spark_plug %></td>
         <td><%= cost.clutch_kit %></td>
         <td><%= cost.battery %></td>
         <td><%= cost.filter_ps_oil %></td>
         <td><%= cost.timing_belt_eg %></td>
         <td><%= cost.timing_belt_ac %></td>
         <td><%= cost.filter_axle %></td>
         <td><%= cost.softwasher %></td>
         <td><%= cost.gasket_front_wheel %></td>
         <td><%= cost.gasket_rear_wheel %></td>
         <td><%= cost.seal_oil_front_wheel %></td>
         <td><%= cost.wheel_grease %></td>
         <td><%= total %></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>

     </tr>
     <% @nextcosts = Laborcost.where(company_id: @truck.company_id, model: @truck.model).first %>
     <% cost = @nextcosts.pickupcost(@truck.last_mileage - @truck.initmileage) %>
     <% total = 0 %>
     <% temp = 0 %>
     <% oil_price = 380 %>
     <% total += oil_price %>
     <% array.each do |e| %>
        <% eval("temp = cost.#{e} if cost.#{e} != '' && cost.#{e} != nil") ; total += temp %>
     <% end %>       

     <tr>
         <td>Labor Costs</td>
         <td><%= oil_price %></td>
         <td><%= cost.oil_filter %></td>
         <td><%= cost.fuel_filter %></td>
         <td><%= cost.ps_oil %></td>
         <td><%= cost.tm_oil %></td>
         <td><%= cost.df_oil %></td>
         <td><%= cost.air_filter %></td>
         <td><%= cost.air_drier %></td>
         <td><%= cost.brake_oil %></td>
         <td><%= cost.clutch_oil %></td>
         <td><%= cost.coolant %></td>
         <td><%= cost.grease %></td>
         <td><%= cost.cng_filter %></td>
         <td><%= cost.spark_plug %></td>
         <td><%= cost.clutch_kit %></td>
         <td><%= cost.battery %></td>
         <td><%= cost.filter_ps_oil %></td>
         <td><%= cost.timing_belt_eg %></td>
         <td><%= cost.timing_belt_ac %></td>
         <td><%= cost.filter_axle %></td>
         <td><%= cost.softwasher %></td>
         <td><%= cost.gasket_front_wheel %></td>
         <td><%= cost.gasket_rear_wheel %></td>
         <td><%= cost.seal_oil_front_wheel %></td>
         <td><%= cost.wheel_grease %></td>
         <td><%= total %></td>
         <td></td>
         <td><%= partstotal + total %></td>
         <td></td>
         <td></td>
  
     </tr>
     <tr>
         <td rowspan="2">80,000km</td>
         <td>Parts Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td>Labor Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td rowspan="2">120,000km</td>
         <td>Parts Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td>Labor Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td rowspan="2">160,000km</td>
         <td>Parts Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td>Labor Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td rowspan="2">200,000km</td>
         <td>Parts Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td>Labor Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td rowspan="2">240,000km</td>
         <td>Parts Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td>Labor Costs</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tbody>
   </table>
 </div>
 </div>
 </div>
<% end %> 
 