<!DOCTYPE html>
<html>
    <head>
        <title>Logiccs</title>
         <%= csrf_meta_tags %>
         
         <%= stylesheet_link_tag 'application', media: 'all' %>
         <%= javascript_include_tag 'application' %>
     </head>
     
     <% bodyclass = controller.controller_name + "_" + controller.action_name %>
     <body class="<%= bodyclass %>">
        <%= render 'layouts/header' %>
        <div class="container application_yield">
          <%= yield %>
        </div>
     </body>
</html>