<!DOCTYPE html>
<html>
    <head>
        <title>Logiccs</title>
         <%= csrf_meta_tags %>
         
         <%= stylesheet_link_tag 'application', media: 'all' %>
         <%= javascript_include_tag 'application' %>
         <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>-->
         <!--<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>-->

     </head>
     
     <% bodyclass = controller.controller_name + "_" + controller.action_name %>
     <body class="<%= bodyclass %>">
       <%= render 'layouts/header' %>
        <div class="container application_yield">
         <%= render 'layouts/flash_messages' %>
    
          <%= yield %>
        </div>
     </body>
</html>