<!--
== begin

データベース項目一覧

 t.integer  "trailer_id"
 t.integer  "trailer_id"
 t.date     "date"
 t.integer  "mileage"

 t.string   "tire1sn" t.string   "tire2sn" t.string   "tire3sn" t.string   "tire4sn" t.string   "tire5sn"
 t.string   "tire6sn" t.string   "tire7sn" t.string   "tire8sn" t.string   "tire9sn" t.string   "tire10sn"
 t.string   "tire11sn" t.string   "tire12sn" t.string   "tire13sn"
 t.integer  "tire1depth" t.integer  "tire2depth" t.integer  "tire3depth" t.integer  "tire4depth" t.integer  "tire5depth" t.integer  "tire6depth"
 t.integer  "tire7depth" t.integer  "tire8depth" t.integer  "tire9depth" t.integer  "tire10depth"
 t.integer  "tire11depth" t.integer  "tire12depth" t.integer  "tire13depth" 


4 輪+ 1
6 輪 + 1
8 輪 + 1
10 輪 + 1
12 輪 + 1
== end
-->

8りんトレーラーだよ
<%= form_for(@adhoc_tire) do |f| %>


 <%= hidden_field_tag :trailer_id, @trailer.id %>

 <%= f.label :mileage %>
 <%= f.text_field :mileage %>

 <%= f.label :date %>
 <%= f.date_field :date %>

 <div class="row">
  <div class="col-xs-1">
   <div class="col-xs-12">&nbsp;<br></div>
   <div class="col-xs-12">SN<br><br></div>
   <div class="col-xs-12">depthMid<br><br></div>
   <div class="col-xs-12">depthSide<br><br><br></div>
   <div class="col-xs-12">purchase<br><br><br></div>
   
   <div class="col-xs-12">&nbsp;</div>
   <div class="col-xs-12">SN<br><br></div>
   <div class="col-xs-12">depthMid<br><br></div>
   <div class="col-xs-12">depthSide<br><br><br></div>
   <div class="col-xs-12">purchase<br><br></div>
   
   <div class="col-xs-12">&nbsp;</div>
   <div class="col-xs-12">SN<br><br></div>
   <div class="col-xs-12">depthMid<br><br></div>
   <div class="col-xs-12">depthSide<br><br><br></div>
   <div class="col-xs-12">purchase<br><br></div>

  </div>
  <div class="col-xs-9">
    <!--row 1-->
   <div class="col-xs-3">
     <div class="col-xs-12">
      Tire A
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire1sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire1depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire1depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire1purchase, class:"form-control" %>
     </div>
   </div>
   <div class="col-xs-3">
      <div class="col-xs-12">
       Tire B
      </div>
      <div class="col-xs-12">
       <%= f.text_field :tire2sn, class:"form-control" %>
      </div>
      <div class="col-xs-12">
       <%= f.number_field :tire2depthmiddle, class:"form-control" %>
      </div>
      <div class="col-xs-12">
       <%= f.number_field :tire2depthside, class:"form-control" %>
      </div>
      <div class="col-xs-12">
      <%= f.date_field :tire2purchase, class:"form-control" %>
      </div>
    </div>
   <div class="col-xs-3">
     <div class="col-xs-12">
      Tire C
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire3sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire3depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire3depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire3purchase, class:"form-control" %>
     </div>
   </div>
   <div class="col-xs-3">
     <div class="col-xs-12">
      Tire D
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire4sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire4depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire4depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire4purchase, class:"form-control" %>
     </div>
   </div>
    <!--row 2-->
   <div class="col-xs-3">
     <div class="col-xs-12">
      Tire E
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire5sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire5depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire5depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire5purchase, class:"form-control" %>
     </div>
   </div>
   <div class="col-xs-3">
      <div class="col-xs-12">
       Tire F
      </div>
      <div class="col-xs-12">
       <%= f.text_field :tire6sn, class:"form-control" %>
      </div>
      <div class="col-xs-12">
       <%= f.number_field :tire6depthmiddle, class:"form-control" %>
      </div>
      <div class="col-xs-12">
       <%= f.number_field :tire6depthside, class:"form-control" %>
      </div>
      <div class="col-xs-12">
      <%= f.date_field :tire6purchase, class:"form-control" %>
      </div>
    </div>
   <div class="col-xs-3">
     <div class="col-xs-12">
      Tire G
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire7sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire7depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire7depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire7purchase, class:"form-control" %>
     </div>
   </div>
   <div class="col-xs-3">
     <div class="col-xs-12">
      Tire H
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire8sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire8depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire8depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire8purchase, class:"form-control" %>
     </div>
   </div>    
      <!--row 3 -->

   
    <div class="col-xs-3">
     <div class="col-xs-12">
      Spare
     </div>
     <div class="col-xs-12">
      <%= f.text_field :tire9sn, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire9depthmiddle, class:"form-control" %>
     </div>
     <div class="col-xs-12">
      <%= f.number_field :tire9depthside, class:"form-control" %>
     </div>
     <div class="col-xs-12">
     <%= f.date_field :tire9purchase, class:"form-control" %>
     </div>
   </div>

  </div>
 </div>


  <%= f.submit "submit", class:"btn btn-xs btn-success" %>
<% end %>